<h1>profile!!</h1>.

<%=render 'users/profile',:object=>@us%>
<h2>mutual friends!!</h2>

<% @mutual_friends.each do |mutual| %>
         
  <%= mutual.firstname%>
  <%#= mutual.lastname%>

<%end%>

    